<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, :autocomplete => :off, :class => "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :post %><br>
    <%= f.text_area :body, :class => 'ckeditor' %>
  </div>
  <div class="field, checkbox">
    <%= f.check_box :published %>Publish post
  </div>
  <div class="actions">
    <%= f.submit :class => 'btn btn-primary' %>
    <%= link_to 'Back', posts_path, :class => "btn btn-default" %>
  </div>
  
<% end %>