<div class="container">
  <% if can? :create, @post %>
    <%= link_to 'New Post', new_post_path, :class => 'btn btn-primary' %><br />
  <% end %>
</div>

<div class="container">
  <% @posts.each do |post| %>

  <div class="page-header">
    <h1><%= link_to post.title, post %></h1>
  </div>

  <p>
    <em>
      Posted by <%= post.user.username %> on <%= post.created_at.strftime("%B %d, %Y") %><br />
      last update <%= post.updated_at.strftime("%B %d, %Y") %><br />
    </em>
  </p>

  <div class="content">
    <%= post.preview.html_safe %>
  </div>

  <div class="buttons">
    <%= link_to 'Read', post, :class => "btn btn-primary" %>

    <% if can? :update, post %>
      <%= link_to 'Edit', edit_post_path(post), :class => "btn btn-default" %>
    <% end %>

    <% if can? :destroy, post %>
      <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>
    <% end %>
  </div>

  <% end %><!-- @posts.each do |post| -->
</div>