<div class="container">

	<div class="page-header">
		<h1><%= @post.title %></h1>
	</div>

	<div class="content">
		<%= @post.body.html_safe %>
	</div>

	<div class="buttons">
		<% if can? :update, @post %>
			<%= link_to 'Edit', edit_post_path(@post), :class => "btn btn-primary" %>
		<% end %>

		<% if can? :destroy, @post %>
			<%= link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>
		<% end %>

		<%= link_to 'Back', posts_path, :class => "btn btn-default" %>
	</div>
	
</div>